<log4net>
	<root>
		<level value="debug" />
		<appender-ref ref="AWS"/>
		<appender-ref ref="LogFileAppender" />
		<appender-ref ref="ColoredConsoleAppender"/>
	</root>
	
	<appender name="AWS" type="AWS.Logger.Log4net.AWSAppender,AWS.Logger.Log4net">
		<LogGroup>AWSSDK.Log4Net.Repro.Test</LogGroup>
		<Region>eu-west-1</Region>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%-3thread] %-5level [%-20M] - %message%newline" />
		</layout>
		<LibraryLogFileName>C:\temp\awslog.txt</LibraryLogFileName>
	</appender>

	<appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender" >
		<param name="File" value="log-file.txt" />
		<param name="AppendToFile" value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="10" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<param name="ConversionPattern" value="%date [%-3thread] %-5level [%-20M] - %message%newline" />
		</layout>
	</appender>

	<appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
		<mapping>
			<level value="debug" />
			<forecolor value="White" />
		</mapping>
		<mapping>
			<level value="DEBUG" />
			<forecolor value="Cyan" />
		</mapping>
		<mapping>
			<level value="WARN" />
			<forecolor value="Yellow" />
		</mapping>
		<mapping>
			<level value="ERROR" />
			<forecolor value="Red" />
			<backcolor value="Cyan"/>
		</mapping>
		<mapping>
			<level value="FATAL" />
			<forecolor value="Red, HighIntensity" />
			<backcolor value="White"/>
		</mapping>
		<layout type="log4net.Layout.PatternLayout">
			<conversionpattern value="[%-3thread] %-5level [%-20M] - %message%newline" />
		</layout>
	</appender>

</log4net>